n8n-workflows/backfill-gmail-triage.json
{
  "id": "FgXJ0dTlOibbKHr0",
  "name": "Backfill Gmail Triage (One-Time)",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": 50,
        "options": {
          "labelIds": [
            "INBOX"
          ]
        },
        "filters": {
          "q": "after:2026/02/03 before:2026/03/06 category:primary"
        }
      },
      "name": "Gmail Get All",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "0YJAOX0ZGvKDcpAt",
          "name": "Gmail account 1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconst RULES_CSV_PATH = '/home/node/config/triage_rules.csv';\nconst defaultBillKeywords = [\n  'bill', 'billing', 'invoice', 'statement', 'payment due', 'past due',\n  'autopay', 'utility', 'electric', 'gas', 'water', 'internet',\n  'phone bill', 'insurance', 'mortgage', 'rent', 'credit card', 'due date'\n];\nconst requestKeywords = [\n  'please', 'can you', 'could you', 'would you', 'need you', 'action required',\n  'review', 'approve', 'sign', 'help', 'let me know', 'respond', 'reply',\n  'asap', 'urgent', 'follow up'\n];\nconst fundsInfoKeywords = [\n  'received funds', 'you received funds', 'transfer settled', 'has settled',\n  'payment is pending', 'scheduled payment is pending', 'payment posted',\n  'payment completed', 'deposit received', 'withdrawal request initiated'\n];\n\nconst parseCsv = (raw) => {\n  const lines = String(raw || '').split(/\\r?\\n/).map((l) => l.trim()).filter((l) => l && !l.startsWith('#'));\n  if (!lines.length) return [];\n  const headers = lines[0].split(',').map((h) => h.trim().toLowerCase());\n  return lines.slice(1).map((line) => {\n    const cols = line.split(',');\n    const row = {};\n    headers.forEach((h, i) => { row[h] = (cols[i] || '').trim(); });\n    return row;\n  });\n};\n\nconst escapeRegex = (value) => value.replace(/[.*+?^()|[\\]\\\\]/g, '\\\\$&');\nconst containsKeyword = (text, keyword) => {\n  const normalized = String(keyword || '').trim().toLowerCase();\n  if (!normalized) return false;\n  if (/^[a-z0-9]+$/i.test(normalized)) {\n    return new RegExp('\\\\b' + escapeRegex(normalized) + '\\\\b', 'i').test(text);\n  }\n  return text.includes(normalized);\n};\n\nlet rows = [];\ntry { rows = parseCsv(fs.readFileSync(RULES_CSV_PATH, 'utf8')); } catch (e) { rows = []; }\n\nconst importantDomains = new Set();\nconst importantEmails = new Set();\nconst billKeywords = new Set(defaultBillKeywords);\nconst spamDomains = new Set();\nconst spamSenders = new Set();\n\nfor (const row of rows) {\n  const type = String(row.type || row.rule_type || row.kind || '').trim().toLowerCase();\n  const value = String(row.value || row.pattern || row.entry || '').trim().toLowerCase();\n  if (!type || !value) continue;\n  if (type === 'domain') importantDomains.add(value);\n  else if (type === 'email') importantEmails.add(value);\n  else if (type === 'bill_keyword' || type === 'keyword' || type === 'bill') billKeywords.add(value);\n  else if (type === 'spam_domain') spamDomains.add(value);\n  else if (type === 'spam_sender' || type === 'spam_email') spamSenders.add(value);\n}\n\nconst results = [];\nfor (const item of $input.all()) {\n  const senderRaw = String(item.json.From || item.json.from || item.json.sender || item.json.email || '');\n  const emailMatch = senderRaw.match(/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}/);\n  const senderEmail = (emailMatch ? emailMatch[0] : senderRaw).toLowerCase();\n  const senderDomain = senderEmail.includes('@') ? senderEmail.split('@').pop() : '';\n  const subject = String(item.json.subject || item.json.Subject || item.json.snippet || '');\n  const body = String(item.json.textPlain || item.json.body || item.json.snippet || '');\n  const content = (subject + '\\n' + body).toLowerCase();\n  const mentionsAntonio = content.includes('antonio');\n  const directRequestDetected = requestKeywords.some((keyword) => containsKeyword(content, keyword));\n  const fundsInfoDetected = fundsInfoKeywords.some((keyword) => containsKeyword(content, keyword));\n  const importantEmailMatch = senderEmail && importantEmails.has(senderEmail);\n  const importantDomainMatch = senderDomain && Array.from(importantDomains).some((d) => senderDomain === d || senderDomain.endsWith('.' + d));\n  const spamSenderMatch = senderEmail && spamSenders.has(senderEmail);\n  const spamDomainMatch = senderDomain && Array.from(spamDomains).some((d) => senderDomain === d || senderDomain.endsWith('.' + d));\n  const billDetected = Array.from(billKeywords).some((keyword) => containsKeyword(content, keyword));\n  const billEscalationDetected = billDetected && directRequestDetected && mentionsAntonio;\n  const forceSpam = spamSenderMatch || spamDomainMatch;\n  const forceImportant = !forceSpam && (importantEmailMatch || importantDomainMatch || billEscalationDetected);\n\n  const reasons = [];\n  if (spamSenderMatch) reasons.push('spam_sender');\n  if (spamDomainMatch) reasons.push('spam_domain');\n  if (billDetected) reasons.push('bill_keyword');\n  if (importantEmailMatch) reasons.push('important_email');\n  if (importantDomainMatch) reasons.push('important_domain');\n  if (billEscalationDetected) reasons.push('bill_escalation');\n  if (fundsInfoDetected) reasons.push('funds_info');\n\n  results.push({\n    json: {\n      ...item.json,\n      sender_email: senderEmail,\n      sender_domain: senderDomain,\n      subject_normalized: subject,\n      body_normalized: body,\n      _triage: {\n        bill_detected: billDetected,\n        bill_escalation_detected: billEscalationDetected,\n        funds_info_detected: fundsInfoDetected,\n        direct_request_detected: directRequestDetected,\n        important_list_match: importantEmailMatch || importantDomainMatch,\n        spam_detected: forceSpam,\n        force_spam: forceSpam,\n        force_important: forceImportant,\n        rule_reason: reasons.join(',') || ''\n      }\n    }\n  });\n}\nreturn results;",
        "mode": "runOnceForAllItems"
      },
      "name": "Normalize Sender & Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "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"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($env.N8N_ANTHROPIC_MODEL_PRIMARY || 'claude-haiku-4-5-20251001'), max_tokens: 300, messages: [{ role: 'user', content: 'You are an Executive Assistant triaging emails for Antonio Fortes. Classify this email. Return ONLY valid JSON with keys: is_important (boolean), is_bill (boolean), category (string: one of Important/Bill/Legal/Personal/Newsletter/Spam), reason (string), summary (string), suggested_action (string). An email is important if it is from a real person or organization requiring action, is legal/official correspondence, is a bill/payment, or is from a known VIP. Newsletters, marketing, promotions, and automated notifications are NOT important.\\n\\nForce important: ' + $node['Normalize Sender & Rules'].json['_triage']['force_important'] + '\\nRule reason: ' + ($node['Normalize Sender & Rules'].json['_triage']['rule_reason'] || 'none') + '\\n\\nFrom: ' + $node['Normalize Sender & Rules'].json['sender_email'] + '\\nDomain: ' + $node['Normalize Sender & Rules'].json['sender_domain'] + '\\nSubject: ' + $node['Normalize Sender & Rules'].json['subject_normalized'] + '\\nBody: ' + $node['Normalize Sender & Rules'].json['body_normalized'].substring(0, 1500) }] }) }}",
        "options": {}
      },
      "name": "AI Triage (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        700,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ (() => { try { const raw = $node['AI Triage (Claude)'].json.content?.[0]?.text || ''; const cleaned = raw.replace(/```json\\n?/g, '').replace(/```/g, '').trim(); const p = JSON.parse(cleaned); const category = String(p.category || '').trim().toLowerCase(); return $node['Normalize Sender & Rules'].json['_triage']['force_spam'] || $node['Normalize Sender & Rules'].json['_triage']['force_important'] || p.is_important === true || category === 'newsletter' || category === 'spam'; } catch(e) { return $node['Normalize Sender & Rules'].json['_triage']['force_spam'] || $node['Normalize Sender & Rules'].json['_triage']['force_important'] || false; } })() }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Important?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env[\"NOTION_API_KEY\"]}}"
            },
            {
              "name": "Notion-Version",
              "value": "={{$env[\"NOTION_API_VERSION\"] || \"2025-09-03\"}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const raw = ($node['AI Triage (Claude)'].json.content?.[0]?.text || '{}'); const cleaned = raw.replace(/```json\\n?/g, '').replace(/```/g, '').trim(); let ai = {}; try { ai = JSON.parse(cleaned); } catch (e) {} const rawCategory = String(ai.category || '').trim().toLowerCase(); const queue = ($node['Normalize Sender & Rules'].json['_triage']['force_spam'] || rawCategory === 'spam') ? 'Spam Review' : (rawCategory === 'newsletter' ? 'Newsletter Review' : 'Action'); const categoryMap = { important: 'Important', bill: 'Bill', legal: 'Legal', personal: 'Personal', newsletter: 'Newsletter', spam: 'Spam' }; const normalizedCategory = categoryMap[rawCategory] || (queue === 'Spam Review' ? 'Spam' : (queue === 'Newsletter Review' ? 'Newsletter' : 'Important')); const status = queue === 'Action' ? 'Not Started' : 'Completed'; return JSON.stringify({ parent: { data_source_id: ($env['NOTION_DATA_SOURCE_ID'] || '2c91d511-87a6-805c-ab38-000b18d92545') }, properties: { Name: { title: [{ text: { content: ((($node['Gmail Get All'].json['subject'] || $node['Gmail Get All'].json['Subject'] || 'No Subject') + ' [INVESTOR]').substring(0, 100)) } }] }, Sender: { rich_text: [{ text: { content: (($node['Gmail Get All'].json['From'] || $node['Gmail Get All'].json['from'] || $node['Gmail Get All'].json['sender'] || $node['Gmail Get All'].json['email'] || '').substring(0, 100)) } }] }, 'Sender Domain': { rich_text: [{ text: { content: (($node['Normalize Sender & Rules'].json['sender_domain'] || '').substring(0, 100)) } }] }, 'Core Request': { rich_text: [{ text: { content: ((ai.summary || 'AI triage failed').substring(0, 2000)) } }] }, 'Importance Reason': { rich_text: [{ text: { content: ((($node['Normalize Sender & Rules'].json['_triage']['rule_reason'] || ai.reason || '')).substring(0, 2000)) } }] }, Category: { select: { name: normalizedCategory } }, Queue: { select: { name: queue } }, 'Provider Action': { select: { name: 'None' } }, 'Provider Action Status': { select: { name: (queue === 'Action' ? 'Skipped' : 'Pending') } }, 'Reply Draft': { rich_text: [{ text: { content: ((ai.suggested_action || '').substring(0, 2000)) } }] }, Status: { select: { name: status } }, 'Original Link': { url: $node['Gmail Get All'].json['webViewLink'] || $node['Gmail Get All'].json['webLink'] || ('https://mail.google.com/mail/u/0/#inbox/' + ($node['Gmail Get All'].json['id'] || '')) } } }); })() }}",
        "options": {}
      },
      "name": "Add to Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        300
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Gmail Get All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Get All": {
      "main": [
        [
          {
            "node": "Normalize Sender & Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Sender & Rules": {
      "main": [
        [
          {
            "node": "AI Triage (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Triage (Claude)": {
      "main": [
        [
          {
            "node": "Is Important?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Important?": {
      "main": [
        [
          {
            "node": "Add to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
