n8n-workflows/daily-investor-nag.json
{
  "name": "Daily Investor Nag",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "interval": 8
            },
            {
              "field": "hours",
              "interval": 16
            }
          ]
        }
      },
      "name": "Scheduled Trigger (Daily)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.notion.com/v1/data_sources/\" + ($env[\"NOTION_DATA_SOURCE_ID\"] || \"2c91d511-87a6-805c-ab38-000b18d92545\") + \"/query\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env[\"NOTION_API_KEY\"]}}"
            },
            {
              "name": "Notion-Version",
              "value": "={{$env[\"NOTION_API_VERSION\"] || \"2025-09-03\"}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"filter\":{\"and\":[{\"property\":\"Status\",\"select\":{\"does_not_equal\":\"Completed\"}},{\"property\":\"Name\",\"title\":{\"contains\":\"[INVESTOR]\"}},{\"property\":\"Triage Feedback\",\"select\":{\"is_empty\":true}}]}}",
        "options": {}
      },
      "name": "Find Unfinished Tasks (Notion)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json || {};\nconst pages = resp.results || [];\nreturn pages.map((page) => ({\n  json: {\n    pageId: page.id,\n    title: page.properties?.Name?.title?.map((part) => part.plain_text || '').join('') || 'Untitled',\n    'Core Request': page.properties?.['Core Request']?.rich_text?.map((part) => part.plain_text || '').join('') || '',\n  },\n}));"
      },
      "name": "Extract Reminder Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://openclaw-gateway:18789/hooks/agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env[\"OPENCLAW_HOOKS_TOKEN\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "InvestorNag"
            },
            {
              "name": "agentId",
              "value": "main"
            },
            {
              "name": "wakeMode",
              "value": "now"
            },
            {
              "name": "deliver",
              "value": "={{false}}"
            },
            {
              "name": "message",
              "value": "={{\"Investor follow-up pending. Subject: \" + $json[\"title\"] + \". Core request: \" + $json[\"Core Request\"] + \". Notify me proactively in the overlay and offer to draft a reply.\"}}"
            }
          ]
        }
      },
      "name": "Trigger OpenClaw Overlay",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    }
  ],
  "connections": {
    "Scheduled Trigger (Daily)": {
      "main": [
        [
          {
            "node": "Find Unfinished Tasks (Notion)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Unfinished Tasks (Notion)": {
      "main": [
        [
          {
            "node": "Extract Reminder Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reminder Fields": {
      "main": [
        [
          {
            "node": "Trigger OpenClaw Overlay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
