n8n-workflows/triage-gmail-to-notion.json
{
  "name": "Gmail to Notion (Investor Triage)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "value": 5
            }
          ]
        }
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconst RULES_CSV_PATH = '/home/node/config/triage_rules.csv';\n\nconst defaultBillKeywords = [\n  'bill', 'billing', 'invoice', 'statement', 'payment due', 'past due',\n  'autopay', 'utility', 'electric', 'gas', 'water', 'internet',\n  'phone bill', 'insurance', 'mortgage', 'rent', 'credit card', 'due date'\n];\n\nconst parseCsv = (raw) => {\n  const lines = String(raw || '').split(/\\r?\\n/).map((l) => l.trim()).filter((l) => l && !l.startsWith('#'));\n  if (!lines.length) return [];\n  const headers = lines[0].split(',').map((h) => h.trim().toLowerCase());\n  return lines.slice(1).map((line) => {\n    const cols = line.split(',');\n    const row = {};\n    headers.forEach((h, i) => { row[h] = (cols[i] || '').trim(); });\n    return row;\n  });\n};\n\nlet rows = [];\ntry { rows = parseCsv(fs.readFileSync(RULES_CSV_PATH, 'utf8')); } catch (e) { rows = []; }\n\nconst importantDomains = new Set();\nconst importantEmails = new Set();\nconst billKeywords = new Set(defaultBillKeywords);\n\nfor (const row of rows) {\n  const type = String(row.type || '').trim().toLowerCase();\n  const value = String(row.value || '').trim().toLowerCase();\n  if (!type || !value) continue;\n  if (type === 'domain') importantDomains.add(value);\n  else if (type === 'email') importantEmails.add(value);\n  else if (type === 'bill_keyword') billKeywords.add(value);\n}\n\nconst results = [];\nfor (const item of $input.all()) {\n  const senderRaw = (item.json.From || item.json.from || item.json.sender || item.json.email || '').toString();\n  const emailMatch = senderRaw.match(/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}/);\n  const senderEmail = (emailMatch ? emailMatch[0] : senderRaw).toLowerCase();\n  const senderDomain = senderEmail.includes('@') ? senderEmail.split('@').pop() : '';\n  const subject = (item.json.subject || item.json.Subject || item.json.snippet || '').toString();\n  const body = (item.json.textPlain || item.json.body || item.json.snippet || '').toString();\n  const content = (subject + '\\n' + body).toLowerCase();\n\n  const importantEmailMatch = senderEmail && importantEmails.has(senderEmail);\n  const importantDomainMatch = senderDomain && Array.from(importantDomains).some((d) => senderDomain === d || senderDomain.endsWith('.' + d));\n  const billDetected = Array.from(billKeywords).some((k) => content.includes(k));\n\n  const reasons = [];\n  if (billDetected) reasons.push('bill_keyword');\n  if (importantEmailMatch) reasons.push('important_email');\n  if (importantDomainMatch) reasons.push('important_domain');\n\n  results.push({\n    json: {\n      ...item.json,\n      sender_email: senderEmail,\n      sender_domain: senderDomain,\n      subject_normalized: subject,\n      body_normalized: body,\n      _triage: {\n        bill_detected: billDetected,\n        important_list_match: importantEmailMatch || importantDomainMatch,\n        force_important: billDetected || importantEmailMatch || importantDomainMatch,\n        rule_reason: reasons.join(',') || ''\n      }\n    }\n  });\n}\nreturn results;",
        "mode": "runOnceForAllItems"
      },
      "name": "Normalize Sender & Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{$env[\"N8N_OLLAMA_MODEL_PRIMARY\"] || $env[\"N8N_OLLAMA_MODEL_FALLBACK\"] || \"glm-4.7-flash\"}}"
            },
            {
              "name": "stream",
              "value": "={{false}}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "prompt",
              "value": "={{\"You are an Executive Assistant for email triage. Return strict JSON with keys: is_important (boolean), is_bill (boolean), category (string), reason (string), summary (string), suggested_action (string). Rules: if force_important is true, set is_important=true. If bill_detected is true, set is_bill=true and category='bill'. Context: \" + JSON.stringify({from: $node[\"Normalize Sender & Rules\"].json[\"sender_email\"], domain: $node[\"Normalize Sender & Rules\"].json[\"sender_domain\"], subject: $node[\"Normalize Sender & Rules\"].json[\"subject_normalized\"], body: $node[\"Normalize Sender & Rules\"].json[\"body_normalized\"], force_important: $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"force_important\"], bill_detected: $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"bill_detected\"], important_list_match: $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"important_list_match\"], rule_reason: $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"rule_reason\"]})}}"
            }
          ]
        }
      },
      "name": "AI Triage (Local Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"force_important\"] || JSON.parse($node[\"AI Triage (Local Ollama)\"].json[\"response\"]).is_important}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Important?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env[\"NOTION_API_KEY\"]}}"
            },
            {
              "name": "Notion-Version",
              "value": "={{$env[\"NOTION_API_VERSION\"] || \"2025-09-03\"}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { let ai = {}; try { ai = JSON.parse($node['AI Triage (Local Ollama)'].json['response'] || $node['AI Triage (Local Ollama)'].json['thinking'] || '{}'); } catch (e) {} return JSON.stringify({ parent: { data_source_id: ($env['NOTION_DATA_SOURCE_ID'] || '2c91d511-87a6-805c-ab38-000b18d92545') }, properties: { Name: { title: [{ text: { content: ((($node['Gmail Trigger'].json['subject'] || $node['Gmail Trigger'].json['Subject'] || 'No Subject') + ' [INVESTOR]').substring(0, 100)) } }] }, Sender: { rich_text: [{ text: { content: (($node['Gmail Trigger'].json['From'] || $node['Gmail Trigger'].json['from'] || $node['Gmail Trigger'].json['sender'] || $node['Gmail Trigger'].json['email'] || '').substring(0, 100)) } }] }, 'Sender Domain': { rich_text: [{ text: { content: (($node['Normalize Sender & Rules'].json['sender_domain'] || '').substring(0, 100)) } }] }, 'Core Request': { rich_text: [{ text: { content: ((ai.summary || 'AI triage failed').substring(0, 2000)) } }] }, 'Importance Reason': { rich_text: [{ text: { content: ((($node['Normalize Sender & Rules'].json['_triage']['rule_reason'] || ai.reason || '')).substring(0, 2000)) } }] }, Category: { select: { name: ($node['Normalize Sender & Rules'].json['_triage']['bill_detected'] ? 'Bill' : (ai.category || 'Important')) } }, 'Reply Draft': { rich_text: [{ text: { content: ((ai.suggested_action || '').substring(0, 2000)) } }] }, Status: { select: { name: 'Not Started' } }, 'Original Link': { url: $node['Gmail Trigger'].json['webViewLink'] || $node['Gmail Trigger'].json['webLink'] || ('https://mail.google.com/mail/u/0/#inbox/' + ($node['Gmail Trigger'].json['id'] || '')) } } }); })() }}"
      },
      "name": "Add to Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://openclaw-gateway:18789/hooks/agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env[\"OPENCLAW_HOOKS_TOKEN\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "EmailTriage"
            },
            {
              "name": "agentId",
              "value": "main"
            },
            {
              "name": "wakeMode",
              "value": "now"
            },
            {
              "name": "deliver",
              "value": "={{false}}"
            },
            {
              "name": "message",
              "value": "={{\"New important email triaged from Gmail. From: \" + $node[\"Normalize Sender & Rules\"].json[\"sender_email\"] + \". Subject: \" + $node[\"Normalize Sender & Rules\"].json[\"subject_normalized\"] + \". Category: \" + ($node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"bill_detected\"] ? \"Bill\" : (JSON.parse($node[\"AI Triage (Local Ollama)\"].json[\"response\"]).category || \"Important\")) + \". Summary: \" + JSON.parse($node[\"AI Triage (Local Ollama)\"].json[\"response\"]).summary + \". This has been added to Notion. Notify me proactively and offer to draft a reply if needed.\"}}"
            }
          ]
        }
      },
      "name": "Notify OpenClaw Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Normalize Sender & Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Sender & Rules": {
      "main": [
        [
          {
            "node": "AI Triage (Local Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Triage (Local Ollama)": {
      "main": [
        [
          {
            "node": "Is Important?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Important?": {
      "main": [
        [
          {
            "node": "Add to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Notion": {
      "main": [
        [
          {
            "node": "Notify OpenClaw Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
