n8n-workflows/triage-outlook-to-notion.json
{
  "name": "Outlook to Notion (Investor Triage)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "value": 5
            }
          ]
        },
        "filters": {
          "read": "unread"
        }
      },
      "name": "Microsoft 365 Email",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const fs = require('fs');\n\nconst RULES_CSV_PATH = '/home/node/config/triage_rules.csv';\nconst defaultBillKeywords = [\n  'bill', 'billing', 'invoice', 'statement', 'payment due', 'past due',\n  'autopay', 'utility', 'electric', 'gas', 'water', 'internet',\n  'phone bill', 'insurance', 'mortgage', 'rent', 'credit card', 'due date'\n];\nconst requestKeywords = [\n  'please', 'can you', 'could you', 'would you', 'need you', 'action required',\n  'review', 'approve', 'sign', 'help', 'let me know', 'respond', 'reply',\n  'asap', 'urgent', 'follow up'\n];\nconst fundsInfoKeywords = [\n  'received funds', 'you received funds', 'transfer settled', 'has settled',\n  'payment is pending', 'scheduled payment is pending', 'payment posted',\n  'payment completed', 'deposit received', 'withdrawal request initiated'\n];\n\nconst parseCsv = (raw) => {\n  const lines = String(raw || '').split(/\\r?\\n/).map((l) => l.trim()).filter((l) => l && !l.startsWith('#'));\n  if (!lines.length) return [];\n  const headers = lines[0].split(',').map((h) => h.trim().toLowerCase());\n  return lines.slice(1).map((line) => {\n    const cols = line.split(',');\n    const row = {};\n    headers.forEach((h, i) => { row[h] = (cols[i] || '').trim(); });\n    return row;\n  });\n};\n\nconst escapeRegex = (value) => value.replace(/[.*+?^()|[\\]\\\\]/g, '\\\\$&');\nconst containsKeyword = (text, keyword) => {\n  const normalized = String(keyword || '').trim().toLowerCase();\n  if (!normalized) return false;\n  if (/^[a-z0-9]+$/i.test(normalized)) {\n    return new RegExp('\\\\b' + escapeRegex(normalized) + '\\\\b', 'i').test(text);\n  }\n  return text.includes(normalized);\n};\n\nlet rows = [];\ntry { rows = parseCsv(fs.readFileSync(RULES_CSV_PATH, 'utf8')); } catch (e) { rows = []; }\n\nconst importantDomains = new Set();\nconst importantEmails = new Set();\nconst billKeywords = new Set(defaultBillKeywords);\nconst spamDomains = new Set();\nconst spamSenders = new Set();\n\nfor (const row of rows) {\n  const type = String(row.type || row.rule_type || row.kind || '').trim().toLowerCase();\n  const value = String(row.value || row.pattern || row.entry || '').trim().toLowerCase();\n  if (!type || !value) continue;\n  if (type === 'domain') importantDomains.add(value);\n  else if (type === 'email') importantEmails.add(value);\n  else if (type === 'bill_keyword' || type === 'keyword' || type === 'bill') billKeywords.add(value);\n  else if (type === 'spam_domain') spamDomains.add(value);\n  else if (type === 'spam_sender' || type === 'spam_email') spamSenders.add(value);\n}\n\nconst fromField = item.json.from || item.json.From || item.json.sender || item.json.email || '';\nconst senderRaw = typeof fromField === 'string' ? fromField : (fromField?.emailAddress?.address || fromField?.emailAddress?.name || '');\nconst emailMatch = String(senderRaw).match(/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}/);\nconst senderEmail = (emailMatch ? emailMatch[0] : String(senderRaw)).toLowerCase();\nconst senderDomain = senderEmail.includes('@') ? senderEmail.split('@').pop() : '';\nconst subject = String(item.json.subject || item.json.Subject || item.json.snippet || '');\nconst body = String(item.json.textPlain || item.json.body || item.json.snippet || item.json.bodyPreview || '');\nconst content = (subject + '\\n' + body).toLowerCase();\nconst mentionsAntonio = content.includes('antonio');\nconst directRequestDetected = requestKeywords.some((keyword) => containsKeyword(content, keyword));\nconst fundsInfoDetected = fundsInfoKeywords.some((keyword) => containsKeyword(content, keyword));\nconst importantEmailMatch = senderEmail && importantEmails.has(senderEmail);\nconst importantDomainMatch = senderDomain && Array.from(importantDomains).some((d) => senderDomain === d || senderDomain.endsWith('.' + d));\nconst spamSenderMatch = senderEmail && spamSenders.has(senderEmail);\nconst spamDomainMatch = senderDomain && Array.from(spamDomains).some((d) => senderDomain === d || senderDomain.endsWith('.' + d));\nconst billDetected = Array.from(billKeywords).some((keyword) => containsKeyword(content, keyword));\nconst billEscalationDetected = billDetected && directRequestDetected && mentionsAntonio;\nconst forceSpam = spamSenderMatch || spamDomainMatch;\nconst forceImportant = !forceSpam && (importantEmailMatch || importantDomainMatch || billEscalationDetected);\n\nconst reasons = [];\nif (spamSenderMatch) reasons.push('spam_sender');\nif (spamDomainMatch) reasons.push('spam_domain');\nif (billDetected) reasons.push('bill_keyword');\nif (importantEmailMatch) reasons.push('important_email');\nif (importantDomainMatch) reasons.push('important_domain');\nif (billEscalationDetected) reasons.push('bill_escalation');\nif (fundsInfoDetected) reasons.push('funds_info');\n\nitem.json.sender_email = senderEmail;\nitem.json.sender_domain = senderDomain;\nitem.json.subject_normalized = subject;\nitem.json.body_normalized = body;\nitem.json._triage = {\n  bill_detected: billDetected,\n  bill_escalation_detected: billEscalationDetected,\n  funds_info_detected: fundsInfoDetected,\n  direct_request_detected: directRequestDetected,\n  important_list_match: importantEmailMatch || importantDomainMatch,\n  spam_detected: forceSpam,\n  force_spam: forceSpam,\n  force_important: forceImportant,\n  rule_reason: reasons.join(',') || ''\n};\n\nreturn item;"
      },
      "name": "Normalize Sender & Rules",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://llm-bridge:11435/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google-gemini-cli/gemini-3-flash-preview"
            },
            {
              "name": "stream",
              "value": "={{false}}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "prompt",
              "value": "={{\"You are an Executive Assistant for email triage. Return strict JSON with keys: is_important (boolean), is_bill (boolean), category (string, one of Important/Bill/Legal/Personal/Newsletter/Spam), reason (string), summary (string), suggested_action (string). Rules: if force_spam is true, set is_important=false, is_bill=false, category='Spam'. If force_important is true and force_spam is false, set is_important=true. Routine newsletters, marketing, webinars, promotions, receipts, payment-status notices, transfer-settled notices, and generic automated notifications should be category='Newsletter' and not important. Only classify as Bill when there is a real invoice, payment due, or a direct escalation requiring Antonio's help. Context: \" + JSON.stringify({from: $node[\"Normalize Sender & Rules\"].json[\"sender_email\"], domain: $node[\"Normalize Sender & Rules\"].json[\"sender_domain\"], subject: $node[\"Normalize Sender & Rules\"].json[\"subject_normalized\"], body: $node[\"Normalize Sender & Rules\"].json[\"body_normalized\"], force_spam: $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"force_spam\"], force_important: $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"force_important\"], bill_detected: $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"bill_detected\"], bill_escalation_detected: $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"bill_escalation_detected\"], funds_info_detected: $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"funds_info_detected\"], direct_request_detected: $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"direct_request_detected\"], important_list_match: $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"important_list_match\"], rule_reason: $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"rule_reason\"]})}}"
            }
          ]
        }
      },
      "name": "AI Triage (Local Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ (() => { try { const parsed = JSON.parse($node[\"AI Triage (Local Ollama)\"].json[\"response\"] || $node[\"AI Triage (Local Ollama)\"].json[\"thinking\"] || '{}'); const category = String(parsed.category || '').trim().toLowerCase(); return $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"force_spam\"] || $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"force_important\"] || parsed.is_important === true || category === 'newsletter' || category === 'spam'; } catch (e) { return $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"force_spam\"] || $node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"force_important\"] || false; } })() }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Important?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env[\"NOTION_API_KEY\"]}}"
            },
            {
              "name": "Notion-Version",
              "value": "={{$env[\"NOTION_API_VERSION\"] || \"2025-09-03\"}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { let ai = {}; try { ai = JSON.parse($node['AI Triage (Local Ollama)'].json['response'] || $node['AI Triage (Local Ollama)'].json['thinking'] || '{}'); } catch (e) {} const fromField = $node['Microsoft 365 Email'].json['from']; const senderText = (typeof fromField === 'string' ? fromField : (fromField?.emailAddress?.address || fromField?.emailAddress?.name || 'unknown')); const rawCategory = String(ai.category || '').trim().toLowerCase(); const queue = ($node['Normalize Sender & Rules'].json['_triage']['force_spam'] || rawCategory === 'spam') ? 'Spam Review' : (rawCategory === 'newsletter' ? 'Newsletter Review' : 'Action'); const categoryMap = { important: 'Important', bill: 'Bill', legal: 'Legal', personal: 'Personal', newsletter: 'Newsletter', spam: 'Spam' }; const normalizedCategory = categoryMap[rawCategory] || (queue === 'Spam Review' ? 'Spam' : (queue === 'Newsletter Review' ? 'Newsletter' : 'Important')); const status = queue === 'Action' ? 'Not Started' : 'Completed'; return JSON.stringify({ parent: { data_source_id: ($env['NOTION_DATA_SOURCE_ID'] || '2c91d511-87a6-805c-ab38-000b18d92545') }, properties: { Name: { title: [{ text: { content: (((($node['Microsoft 365 Email'].json['subject'] || 'No Subject') + ' [INVESTOR]').substring(0, 100))) } }] }, Sender: { rich_text: [{ text: { content: (senderText.substring(0, 100)) } }] }, 'Sender Domain': { rich_text: [{ text: { content: (($node['Normalize Sender & Rules'].json['sender_domain'] || '').substring(0, 100)) } }] }, Mailbox: { email: 'antonio@antharistherapeutics.com' }, 'Core Request': { rich_text: [{ text: { content: ((ai.summary || 'AI triage failed').substring(0, 2000)) } }] }, 'Importance Reason': { rich_text: [{ text: { content: ((($node['Normalize Sender & Rules'].json['_triage']['rule_reason'] || ai.reason || '')).substring(0, 2000)) } }] }, Category: { select: { name: normalizedCategory } }, Queue: { select: { name: queue } }, 'Provider Action': { select: { name: 'None' } }, 'Provider Action Status': { select: { name: (queue === 'Action' ? 'Skipped' : 'Pending') } }, 'Reply Draft': { rich_text: [{ text: { content: ((ai.suggested_action || '').substring(0, 2000)) } }] }, Status: { select: { name: status } }, 'Original Link': { url: $node['Microsoft 365 Email'].json['webLink'] || null }, 'Email Date': { date: { start: $node['Microsoft 365 Email'].json['receivedDateTime'] || null } }, 'Email Account': { rich_text: [{ text: { content: 'Outlook' } }] } } }); })() }}"
      },
      "name": "Add to Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://openclaw-gateway:18789/hooks/agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env[\"OPENCLAW_HOOKS_TOKEN\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "EmailTriage"
            },
            {
              "name": "agentId",
              "value": "main"
            },
            {
              "name": "wakeMode",
              "value": "now"
            },
            {
              "name": "deliver",
              "value": "={{false}}"
            },
            {
              "name": "message",
              "value": "={{\"New important email triaged from Outlook. From: \" + $node[\"Normalize Sender & Rules\"].json[\"sender_email\"] + \". Subject: \" + $node[\"Normalize Sender & Rules\"].json[\"subject_normalized\"] + \". Category: \" + ($node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"bill_detected\"] ? \"Bill\" : (JSON.parse($node[\"AI Triage (Local Ollama)\"].json[\"response\"]).category || \"Important\")) + \". Summary: \" + JSON.parse($node[\"AI Triage (Local Ollama)\"].json[\"response\"]).summary + \". This has been added to Notion. Notify me proactively and offer to draft a reply if needed.\"}}"
            }
          ]
        }
      },
      "name": "Notify OpenClaw Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ (() => { try { const parsed = JSON.parse($node[\"AI Triage (Local Ollama)\"].json[\"response\"] || $node[\"AI Triage (Local Ollama)\"].json[\"thinking\"] || '{}'); const category = String(parsed.category || '').trim().toLowerCase(); const queue = ($node[\"Normalize Sender & Rules\"].json[\"_triage\"][\"force_spam\"] || category === 'spam') ? 'Spam Review' : (category === 'newsletter' ? 'Newsletter Review' : 'Action'); return queue === 'Action'; } catch (e) { return false; } })() }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Should Notify?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    }
  ],
  "connections": {
    "Microsoft 365 Email": {
      "main": [
        [
          {
            "node": "Normalize Sender & Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Sender & Rules": {
      "main": [
        [
          {
            "node": "AI Triage (Local Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Triage (Local Ollama)": {
      "main": [
        [
          {
            "node": "Is Important?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Important?": {
      "main": [
        [
          {
            "node": "Add to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Notion": {
      "main": [
        [
          {
            "node": "Should Notify?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Notify?": {
      "main": [
        [
          {
            "node": "Notify OpenClaw Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
